{% extends 'base.html' %} {% block pagecontent %}
<figure class="text-center bg-white text-black">
  <div class="h1">Schedule</div>
</figure>

<style>
  .container-large {
    max-height: 70vh;
  }
</style>

<div class="container-large overflow-auto">
  <table class="table text-center table-bordered">
    <thead>
      <tr>
        <th style="width: 16.66%" scope="col"></th>
        <th style="width: 16.66%" scope="col">Mon</th>
        <th style="width: 16.66%" scope="col">Tues</th>
        <th style="width: 16.66%" scope="col">Wed</th>
        <th style="width: 16.66%" scope="col">Thurs</th>
        <th style="width: 16.66%" scope="col">Fri</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">8:00 - 9:00</th>
        <td>
          <table class="table table-bordered">
            <th>CS1110</th>
          </table>
        </td>
        <td></td>
        <td>
          <table class="table table-bordered">
            <th>CS1110</th>
          </table>
        </td>
        <td></td>
        <td>
          <table class="table table-bordered">
            <th>CS1110</th>
          </table>
        </td>
      </tr>
      <tr>
        <th scope="row">9:00 - 10:00</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">10:00 - 11:00</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">11:00 - 12:00</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">12:00 - 1:00</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">1:00 - 2:00</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">2:00 - 3:00</th>
        <td></td>
        <td>
          <table class="table table-bordered">
            <th>CS3240</th>
          </table>
        </td>
        <td></td>
        <td>
          <table class="table table-bordered">
            <th>CS3240</th>
          </table>
        </td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">3:00 - 4:00</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">4:00 - 5:00</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">5:00 - 6:00</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">6:00 - 7:00</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">7:00 - 8:00</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">8:00 - 9:00</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>
{% endblock %}
